/*toute les classes qui commence par flexxxxxx*/
grid div[class^="flex"] {
  border: 1px dotted gray;
  
  padding: 8px;
}

grid div.layout-row {
  background-color: #90CAF9; /* Blue 200 */
}

grid div.layout-column {
  background-color: #FFE0B2; /* Orange 100 */
  text-align: center;
}