<md-toolbar>
  <div class="md-toolbar-tools">
    SVG icons (icon set)
  </div>
</md-toolbar>
<md-content>
  <div layout="row" layout-padding>
    <div flex="33">
      Jake<br/>
      <md-icon md-svg-icon="my" />
    </div>
    <div flex="33">
      George<br/>
      <md-icon md-svg-icon="my" />
    </div>
    <div flex="33">
      Computer<br/>
      <md-icon md-svg-icon="computer" />
    </div>
  </div>
</md-content>
<md-toolbar>
  <div class="md-toolbar-tools">
    Icon sizes
  </div>
</md-toolbar>
<md-content>
  <div layout="row" layout-padding>
    <div flex="25">
      18px<br/>
      <md-icon md-svg-icon="my" class="size-18"/>
    </div>
    <div flex="25">
      24px<br/>
      <md-icon md-svg-icon="my" class="size-24"/>
    </div>
    <div flex="25">
      36px<br/>
      <md-icon md-svg-icon="my" class="size-36"/>
    </div>
    <div flex="25">
      48px<br/>
      <md-icon md-svg-icon="my" class="size-48"/>
    </div>
  </div>
</md-content>
<md-toolbar>
  <div class="md-toolbar-tools">
    Icon colors
  </div>
</md-toolbar>
<md-content>
  <div layout="row" layout-padding>
    <div flex="25">
      Red<br/>
      <md-icon md-svg-icon="memory" class="size-36 red"/>
    </div>
    <div flex="25">
      Green<br/>
      <md-icon md-svg-icon="memory" class="size-36 green"/>
    </div>
    <div flex="25">
      Blue<br/>
      <md-icon md-svg-icon="memory" class="size-36 blue"/>
    </div>
    <div flex="25">
      Purple<br/>
      <md-icon md-svg-icon="memory" class="size-36"
        style="color: purple"/>
    </div>
  </div>
</md-content>
